<%= form_for(@asignatura) do |f| %>
  <% if @asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asignatura.errors.count, "error") %> prohibited this asignatura from being saved:</h2>

      <ul>
      <% @asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :horas %><br>
    <%= f.number_field :horas %>
  </div>
  <div class="field">
    <%= f.label :alumno_id %><br>
    <%= f.text_field :alumno_id%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
