<p id="notice"><%= notice %></p>

<h1>Listing Asignaturas</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Horas</th>
      <th>Alumno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignaturas.each do |asignatura| %>
      <tr>
        <td><%= asignatura.nombre %></td>
        <td><%= asignatura.horas %></td>
        <td><%= asignatura.alumno%></td>
        <td><%= link_to 'Show', asignatura %></td>
        <td><%= link_to 'Edit', edit_asignatura_path(asignatura) %></td>
        <td><%= link_to 'Destroy', asignatura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignatura', new_asignatura_path %>
